/packages
/StudentManagement/StudentManagement/bin
/StudentManagement/StudentManagement/obj
/StudentManagement/StudentManagement.Android/bin
/StudentManagement/StudentManagement.Android/obj
/StudentManagement/StudentManagement.iOS/bin
/StudentManagement/StudentManagement.iOS/obj
/StudentManagement/StudentManagement.UWP/AppPackages
/StudentManagement/StudentManagement.UWP/bin
/StudentManagement/StudentManagement.UWP/obj
/StudentManagement/StudentManagement.UWP/*.user
/.vs
/StudentManagement/StudentManagement.Android/StudentManagement.Android.csproj.user
/StudentManagement/StudentManagement.UWP/StudentManagement.UWP.nuget.targets
/StudentManagement/StudentManagement.UWP/project.lock.json
/StudentManagement/StudentManagement.Android/Resources/Resource.Designer.cs
/UpgradeLog.htm
